#Import MySQL Connector Module

In [2]:
import pandas as pd

In [3]:
from sqlalchemy import create_engine

In [4]:
conn_string = 'mysql+mysqlconnector://root:Batchoy_2!@127.0.0.1/Portfolio_project'

In [5]:
db = create_engine(conn_string)

In [6]:
conn = db.connect()

In [7]:
df = pd.read_csv('/Users/annamacairm2/Downloads/Covid Data/CovidVaccination.csv')

In [8]:
print(df.info)

<bound method DataFrame.info of       iso_code continent     location        date  new_tests  total_tests  \
0          AFG      Asia  Afghanistan  2020-02-24        NaN          NaN
1          AFG      Asia  Afghanistan  2020-02-25        NaN          NaN
2          AFG      Asia  Afghanistan  2020-02-26        NaN          NaN
3          AFG      Asia  Afghanistan  2020-02-27        NaN          NaN
4          AFG      Asia  Afghanistan  2020-02-28        NaN          NaN
...        ...       ...          ...         ...        ...          ...
85166      ZWE    Africa     Zimbabwe  2021-04-26     1495.0     484446.0
85167      ZWE    Africa     Zimbabwe  2021-04-27     2355.0     486801.0
85168      ZWE    Africa     Zimbabwe  2021-04-28     2025.0     488826.0
85169      ZWE    Africa     Zimbabwe  2021-04-29        NaN          NaN
85170      ZWE    Africa     Zimbabwe  2021-04-30        NaN          NaN

       total_tests_per_thousand  new_tests_per_thousand  new_tests_smoothed  \
0                           NaN                     NaN                 NaN
1                           NaN                     NaN                 NaN
2                           NaN                     NaN                 NaN
3                           NaN                     NaN                 NaN
4                           NaN                     NaN                 NaN
...                         ...                     ...                 ...
85166                    32.594                   0.101              1722.0
85167                    32.753                   0.158              1703.0
85168                    32.889                   0.136              1716.0
85169                       NaN                     NaN                 NaN
85170                       NaN                     NaN                 NaN

       new_tests_smoothed_per_thousand  ...  gdp_per_capita  extreme_poverty  \
0                                  NaN  ...        1803.987              NaN
1                                  NaN  ...        1803.987              NaN
2                                  NaN  ...        1803.987              NaN
3                                  NaN  ...        1803.987              NaN
4                                  NaN  ...        1803.987              NaN
...                                ...  ...             ...              ...
85166                            0.116  ...        1899.775             21.4
85167                            0.115  ...        1899.775             21.4
85168                            0.115  ...        1899.775             21.4
85169                              NaN  ...        1899.775             21.4
85170                              NaN  ...        1899.775             21.4

      cardiovasc_death_rate  diabetes_prevalence  female_smokers  \
0                   597.029                 9.59             NaN
1                   597.029                 9.59             NaN
2                   597.029                 9.59             NaN
3                   597.029                 9.59             NaN
4                   597.029                 9.59             NaN
...                     ...                  ...             ...
85166               307.846                 1.82             1.6
85167               307.846                 1.82             1.6
85168               307.846                 1.82             1.6
85169               307.846                 1.82             1.6
85170               307.846                 1.82             1.6

       male_smokers  handwashing_facilities  hospital_beds_per_thousand  \
0               NaN                  37.746                         0.5
1               NaN                  37.746                         0.5
2               NaN                  37.746                         0.5
3               NaN                  37.746                         0.5
4               NaN                  37.746                         0.5
...             ...                     ...                         ...
85166          30.7                  36.791                         1.7
85167          30.7                  36.791                         1.7
85168          30.7                  36.791                         1.7
85169          30.7                  36.791                         1.7
85170          30.7                  36.791                         1.7

       life_expectancy  human_development_index
0                64.83                    0.511
1                64.83                    0.511
2                64.83                    0.511
3                64.83                    0.511
4                64.83                    0.511
...                ...                      ...
85166            61.49                    0.571
85167            61.49                    0.571
85168            61.49                    0.571
85169            61.49                    0.571
85170            61.49                    0.571

[85171 rows x 37 columns]>

In [9]:
df.to_sql('covidvaccines', con=conn, if_exists='replace', index=False)

85171