# Loading large csv dataset to MySQL using Python

## Importing pandas and creating engine

In [5]:
import pandas as pd

In [18]:
from sqlalchemy import create_engine

## Creating connection (python to mysql)

In [19]:
conn_string = 'mysql+mysqlconnector://root:Batchoy_2!@127.0.0.1/Portfolio_project'

In [20]:
db = create_engine(conn_string)

In [21]:
conn = db.connect()

## Reading and Printing CSV File

In [8]:
df = pd.read_csv('/Users/annamacairm2/Downloads/Covid Data/CovidDeaths.csv')

In [9]:
print(df.info)

<bound method DataFrame.info of       iso_code continent     location        date  population  total_cases  \
0          AFG      Asia  Afghanistan  2020-02-24  38928341.0          1.0
1          AFG      Asia  Afghanistan  2020-02-25  38928341.0          1.0
2          AFG      Asia  Afghanistan  2020-02-26  38928341.0          1.0
3          AFG      Asia  Afghanistan  2020-02-27  38928341.0          1.0
4          AFG      Asia  Afghanistan  2020-02-28  38928341.0          1.0
...        ...       ...          ...         ...         ...          ...
85166      ZWE    Africa     Zimbabwe  2021-04-26  14862927.0      38102.0
85167      ZWE    Africa     Zimbabwe  2021-04-27  14862927.0      38164.0
85168      ZWE    Africa     Zimbabwe  2021-04-28  14862927.0      38191.0
85169      ZWE    Africa     Zimbabwe  2021-04-29  14862927.0      38235.0
85170      ZWE    Africa     Zimbabwe  2021-04-30  14862927.0      38257.0

       new_cases  new_cases_smoothed  total_deaths  new_deaths  ...  \
0            1.0                 NaN           NaN         NaN  ...
1            0.0                 NaN           NaN         NaN  ...
2            0.0                 NaN           NaN         NaN  ...
3            0.0                 NaN           NaN         NaN  ...
4            0.0                 NaN           NaN         NaN  ...
...          ...                 ...           ...         ...  ...
85166       16.0              34.714        1560.0         3.0  ...
85167       62.0              41.286        1565.0         5.0  ...
85168       27.0              30.143        1565.0         0.0  ...
85169       44.0              31.000        1567.0         2.0  ...
85170       22.0              30.286        1567.0         0.0  ...

       new_deaths_smoothed_per_million  reproduction_rate  icu_patients  \
0                                  NaN                NaN           NaN
1                                  NaN                NaN           NaN
2                                  NaN                NaN           NaN
3                                  NaN                NaN           NaN
4                                  NaN                NaN           NaN
...                                ...                ...           ...
85166                            0.067               1.01           NaN
85167                            0.106               1.01           NaN
85168                            0.096               1.00           NaN
85169                            0.115               1.00           NaN
85170                            0.106                NaN           NaN

       icu_patients_per_million  hosp_patients  hosp_patients_per_million  \
0                           NaN            NaN                        NaN
1                           NaN            NaN                        NaN
2                           NaN            NaN                        NaN
3                           NaN            NaN                        NaN
4                           NaN            NaN                        NaN
...                         ...            ...                        ...
85166                       NaN            NaN                        NaN
85167                       NaN            NaN                        NaN
85168                       NaN            NaN                        NaN
85169                       NaN            NaN                        NaN
85170                       NaN            NaN                        NaN

       weekly_icu_admissions  weekly_icu_admissions_per_million  \
0                        NaN                                NaN
1                        NaN                                NaN
2                        NaN                                NaN
3                        NaN                                NaN
4                        NaN                                NaN
...                      ...                                ...
85166                    NaN                                NaN
85167                    NaN                                NaN
85168                    NaN                                NaN
85169                    NaN                                NaN
85170                    NaN                                NaN

       weekly_hosp_admissions  weekly_hosp_admissions_per_million
0                         NaN                                 NaN
1                         NaN                                 NaN
2                         NaN                                 NaN
3                         NaN                                 NaN
4                         NaN                                 NaN
...                       ...                                 ...
85166                     NaN                                 NaN
85167                     NaN                                 NaN
85168                     NaN                                 NaN
85169                     NaN                                 NaN
85170                     NaN                                 NaN

[85171 rows x 26 columns]>

## Connecting data frame to MySQL database

In [22]:
df.to_sql('coviddeaths', con=conn, if_exists='replace', index=False)

85171